*{
    font-family: 'Roboto', sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
}
/* Navbar animation */
/*.navbar {*/
/*    background-color: rgba(0, 0, 0, 0.2); }*/

/*.top-nav-collapse {*/
/*    background-color: #1C2331; }*/

/* Adding color to the Navbar on mobile */
/*@media only screen and (max-width: 768px) {*/
/*    .navbar {*/
/*        background-color: #1C2331; } }*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, .view{
    height: 100%;
}
.carousel {
    height: 100%; }
.carousel .carousel-inner {
    height: 100%; }
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%; }
body {
    line-height: 1;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    overflow-x: hidden;
    font-weight: 400;
    background-color: #f2f2f2;
}
ol, ul {
    /*list-style: none;*/
}
a:hover {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
button {
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    margin:0;
    padding: 0;
}
a:focus {
    text-decoration: none;
    outline: none;
}
a:hover {
    color: #fff;
}
button {
    outline: none;
}
input {
    outline: none;
}
textarea {
    outline: none;
}
section {
    float: left;
    width: 100%;
    position: relative;
}
img {
    float: inherit;
}
p {
    font-size: 14px;
    line-height: 26px;
    color: #666666;
}
.size {
    max-width: 30px;
}
.avatar{
    margin-left: 15px;
}
.avatar-size{
    margin: 2px;
    max-width: 45px;
}
.avatar-size-1{
    max-width: 40px;
}
.main-left-sidebar{
    float: left;
    width: 100%;
}
.full-width{
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.user-data{
    text-align: center;
}
.username-dt {
    float: left;
    width: 100%;
    background-color: #CC0000;
    padding-top: 40px;
}
.usr-pic {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: -48px;
}
.user-specs h2 {
    float: left;
    width: 100%;
    padding: 63px 0 0 0;
    font-size: 16pt;
}
.user-specs h6 {
    float: left;
    width: 100%;
    /*padding: 63px 0 0 0;*/
    color: #939f9f;
    font-size: 8pt;
}
.user-specs span {
    font-size: 10pt;
    color: #939f9f;
}
.user-fw-status {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}
.user-fw-status a{
    color: #CC0000;
}
ol, ul {
    /*list-style: none;*/
}
.logo-size{
    max-width: 40px;
}
.us-links {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding:  10px 0 10px 15px;
    margin: 0px;
}
.us-links li {
    padding-bottom: 8px;
}
.tc {
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
}
a.waves-effect, a.waves-light {
    display: inline-block;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.navbar .dropdown-menu a {
    padding: 0px;
    font-size: .9375rem;
    color: #2b2b2b;
}
.padding{
    padding-top: 85px;
}
.user-fw-status{
    padding-left: 0;
    color: #939f9f;
}.nav-item{
     padding-top: 10px;
 }
.nav-profile{
    padding-top: 0;
}
.main-ws-sec {
    float: left;
    width: 100%;
}
.post-topbar {
    float: left;
    width: 100%;
    padding: 23px 20px;
    background-color: #fff;
    border-top: 4px solid #CC0000;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    box-shadow: 0 0 1px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}
.post-st {
    float: right;
    margin-top: 5px;
}
.post-st ul li a:hover, .post-st ul li a.active {
    background-color: #CC0000;
    color: #fff;
}
.post-st ul li a {
    color: #b2b2b2;
    font-size: 16px;
    display: inline-block;
    background-color: #e5e5e5;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 500;
}
.post_project, .post-jb{
    border-radius: 10px;
}
.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}

/* =================== main-ws-sec ================== */

.main-ws-sec {
    float: left;
    width: 100%;
}

/* ============ post-topbar =========== */

.post-topbar {
    float: left;
    width: 100%;
    padding: 23px 20px;
    background-color: #fff;
    border-top: 4px solid #CC0000;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -o-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    box-shadow: 0 0 1px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}
.post-topbar{
    margin-top: 20px;
}
.user-picy {
    float: left;
    width: 50px;
}
.user-picy img {
    width: 100%;
    object-fit: cover;
}
.post-st {
    float: right;
    margin-top: 5px;
}
.post-st ul li {
    display: inline-block;
    margin-right: 6px;
}
.post-st ul li:last-child {
    margin-right: 0;
}
.post-st ul li a {
    color: #b2b2b2;
    font-size: 16px;
    display: inline-block;
    background-color: #e5e5e5;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 500;
}
.post-st ul li a:hover,
.post-st ul li a.active {
    background-color: #CC0000;
    color: #fff;
}


/* ================ posts-section ================== */

.posts-section {
    float: left;
    width: 100%;
}
.post-bar {
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    /*box-shadow: 0 0 1px rgba(0,0,0,0.24);*/
    margin-bottom: 20px;
    border-radius: 5px;
}
.post_topbar {
    float: left;
    width: 100%;
    position: relative;
    padding: 20px 20px 15px 20px;
}
.usy-dt {
    float: left;
}
.usy-dt img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    max-width: 50px;
}
.ed-opts {
    float: right;
    position: relative;
}
.ed-opts > a {
    color: #b2b2b2;
    /*font-size: 30px;*/
    float: right;
    position: relative;
    /*left: 13px;*/
}
.ed-options {
    position: absolute;
    top: 100%;
    right: 0;
    width: 130px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    box-shadow: 0 0 10px rgba(0,0,0,0.28);
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}
.edit a {
    text-decoration-color: #fb2539;
}
.ed-options li {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.ed-options li:last-child {
    margin-bottom: 0;
}
.ed-options li a {
    color: #686868;
    font-size: 14px;
    font-weight: 600;
}
.ed-opts > a:hover {
    color: #CC0000;
}
.usy-name {
    float: left;
    margin-left: 10px;
}
.usy-name h3 {
    color: #000000;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 2px;
}
.usy-name span {
    color: #b2b2b2;
    font-size: 14px;
}
.usy-name img {
    margin-top: 2px;
    margin-right: 6px;
}
.post_topbar i {
    /*	position: absolute;
        top: 20px;
        right: 5px;
        color: #b2b2b2;
        font-size: 30px;
    */}
.epi-sec {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 20px;
}
.descp {
    float: left;
    margin-top: 3px;
    padding-left: 0;
    font-size: 12px;
    color: #b2b2b2;
}
.descp li {
    display: inline-block;
    /*margin-right: 15px;*/
}
.descp li span {
    color: #b2b2b2;
    float: left;
}
.descp li i {
    /*margin-right: 5px;*/
}
.bk-links {
    float: right;
    border-radius: 12px;
}
.bk-links li {
    display: inline-block;
    margin-right: 7px;
}
.bk-links li:last-child {
    margin-right: 0;
}
.bk-links li i {
    color: #fff;
    font-size: 24px;
    width: 30px;
    height: 30px;
    background-color: #53d690;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}
.bk-links li i.fa-envelope {
    background-color: #CC0000;
    font-size: 18px;
}
.bk-links li i.fa-bookmark {
    font-size: 18px;
}
.bid_now {
    color: #fff;
    background-color: #51a5fb;
    text-transform: capitalize;
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    position: relative;
    top: -3px;
}
.bid_now:hover {
    color: #fff;
}


/* ============== job_descp ============ */

.job_descp {
    float: left;
    width: 100%;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #e5e5e5;
}
.job_descp h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.job-dt {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.job-dt li {
    display: inline-block;
    margin-right: 15px;
}
.job-dt li a {
    color: #fff;
    background-color: #53d690;
    text-transform: capitalize;
    padding: 5px 13px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}
.job-dt li span {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}
.job_descp > p {
    color: #686868;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
}
.job_descp > p a {
    color: #CC0000;
    font-weight: 600;
}

/* ============= mandatory-post-info =========== */

.mandatory-post-info {
    float: left;
    width: 100%;
}
.mandatory-post-info li {
    /*display: inline-block;*/
    margin-right: 6px;
    margin-bottom: 10px;
}
.mandatory-post-info li{
    /*display: inline-block;*/
    color: #414141;
    font-size: 14px;
    background-color: #e5e5e5;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    padding: 7px 15px;
    font-weight: 600;
}

/* ========== job-status-bar ========== */

.job-status-bar {
    float: left;
    width: 100%;
    padding: 15px 20px;
    /*font-size: 500px;*/
}
.like-com {
    float: left;
    /*font-size: 2px;*/
}
.like-com li {
    display: inline-block;
    margin-right: 15px;
}
.like-com li a {
    color: #b2b2b2;
    font-size: 14px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}
.like-com li a:hover {
    color: #CC0000;
}
.like-com li a.active {
    color: #CC0000;
}
.like-com li a i {
    margin-right: 2px;
    font-size: 17px;
    position: relative;
    top: 2px;
}
.like-com li span {
    color: #ffffff;
    font-size: 13px;
    width: 30px;
    height: 30px;
    background-color: #CC0000;
    line-height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    float: left;
    text-align: center;
    font-weight: 600;
    margin-left: -25px;
}
.like-com li .com {
    position: relative;
}
.like-com li .com img {
    margin-right: 10px;
}

.job-status-bar > a {
    float: right;
    color: #b2b2b2;
    font-size: 14px;
    margin-top: 5px;
}
.job-status-bar > a i {
    font-size: 20px;
    margin-right: 7px;
    position: relative;
    top: 3px;
}

/* ============= top-profiles ============ */

.top-profiles {
    float: left;
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.pf-hd {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 20px;
    position: relative;
}
.pf-hd h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    float: left;
}
.pf-hd i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 7px;
    color: #b2b2b2;
    font-size: 24px;
}


/* ============== profiles-slider ============== */

.profiles-slider {
    float: left;
    width: 100%;
    padding: 20px;
}
.user-profy {
    float: left;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    -webkit-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    -o-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    padding: 20px 0 0 0;
}
.user-profy > img {
    float: none;
    margin-bottom: 6px;
}
.user-profy h3 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 4px;
}
.user-profy span {
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
}
.user-profy ul {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.user-profy ul li {
    display: inline-block;
}
.user-profy ul li a {
    color: #ffffff;
    font-size: 13px;
    padding: 0 8px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-transform: capitalize;
}
.followw {
    background-color: #53d690;
}
.envlp {
    background-color: #CC0000;
}
.envlp img {
    float: none;
}
.hire {
    background-color: #51a5fb;
}
.user-profy > a {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 14px;
    text-transform: capitalize;
    padding: 15px 0;
    border-top: 1px solid #ececec;
    font-weight: 600;
}
.user-profy > a:hover {
    background-color: #CC0000;
    color: #fff;
}
.slick-slide img {
    display: inline-block;
}
.slick-slide {
    margin: 0 4px;
}
.envlp img {
    position: relative;
    top: 2px;
}
.no-margin {
    margin: 0;
    border: 0;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    border-radius: inherit;
}
.posty {
    float: left;
    width: 100%;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.posty .job-status-bar {
    border-bottom: 1px solid #e4e4e4;
}
.slick-previous:before {
    left: -14px;
    content: '\f104';
    margin-left: -2px;
}
.slick-nexti:before {
    right: -14px;
    content: '\f105';
    padding-left: 3px;
}
.slick-previous:before,
.slick-nexti:before {
    font-size: 24px;
    color: #b7b7b7;
    position: absolute;
    top: 50%;
    line-height: 27px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: fontawesome;
    width: 30px;
    height: 30px;
    background-color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    border: 1px solid #e6e6e6;
    text-align: center;
    cursor: pointer;
}
.slick-previous:hover:before,
.slick-nexti:hover:before {
    background-color: #CC0000;
    color: #fff;
    border-color: transparent;
}

/* ============= Suggestions ============ */

.sd-title {
    float: left;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.sd-title h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    float: left;
}
.sd-title i {
    float: right;
    color: #b7b7b7;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 15px;
}
.suggestions-list {
    float: left;
    width: 100%;
    padding: 13px 0 30px 0;
}
.suggestion-usd {
    float: left;
    width: 100%;
    padding: 15px 20px;
}
.suggestion-usd img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.sgt-text {
    float: left;
    padding-left: 10px;
}
.sgt-text h4 {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}
.sgt-text span {
    color: #686868;
    font-size: 12px;
}
.suggestion-usd > span {
    float: right;
    margin-top: 4px;
    position: relative;
}
.suggestion-usd > span i {
    color: #b2b2b2;
    width: 30px;
    height: 30px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}
.suggestion-usd > span i:hover {
    background-color: #CC0000;
    color: #fff;
}
.view-more {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.view-more > a {
    color: #CC0000;
    font-size: 14px;
    font-weight: 700;
}
.view-more > a:hover {
    color: #CC0000
}



/* ============== tags-sec ============= */

.tags-sec {
    background-color: #fff;
    padding: 25px 5px;
}
.tags-sec ul {
    float: left;
    width: 100%;
    text-align: center;
}
.tags-sec ul li {
    display: inline-block;
    border-right: 1px solid #b2b2b2;
    padding: 0 7px;
    margin-bottom: 15px;
}
.tags-sec ul li:nth-child(3),
.tags-sec ul li:nth-child(5),
.tags-sec ul li:nth-child(8) {
    border-right: 0;
}
.tags-sec ul li a {
    display: inline-block;
    color: #b2b2b2;
    font-size: 13px;
    font-weight: 500;
}
.tags-sec ul li a:hover {
    color: #CC0000;
}
.cp-sec {
    float: left;
    width: 100%;
    margin-top: 5px;
    padding: 0 13px;
}
.cp-sec > img {
    float: left;
    margin-top: 3px;
}
.cp-sec p {
    float: right;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 500;
}
.cp-sec p img {
    float: none;
    display: inline-block;
    position: relative;
    top: 3px;
    padding-right: 5px;
}

/* =============== comment-section ============== */

.comment-section {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 20px;
}
.plus-ic {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.plus-ic i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
    text-align: center;
    color: #b2b2b2;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

/* =============== comment-sec ================ */


.comment-sec {
    float: left;
    width: 100%;
}
.comment-sec ul {
    float: left;
    width: 100%;
}
.comment-sec ul li {
    float: left;
    width: 100%;
}
.comment-sec ul ul {
    padding-left: 50px;
}
.comment-list {
    display: table;
    padding-bottom: 30px;
}
.bg-img {
    display: table-cell;
}
.bg-img img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.comment {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-left: 10px;
}
.comment h3 {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}
.comment img {
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.comment span {
    color: #b2b2b2;
    font-size: 14px;
    display: block;
    margin-bottom: 14px;
}
.comment p {
    color: #686868;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
}
.comment > a {
    display: inline-block;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 600;
}
.comment > a.active,
.comment > a:hover {
    color: #CC0000;
}
.comment > a i {
    font-weight: 600;
    margin-right: 6px;
}

/* =============== post-comment ============= */

.post-comment {
    float: left;
    width: 100%;
}
.cm_img {
    float: left;
    width: 40px;
    margin-right: 10px;
}
.comment_box {
    float: left;
}
.comment_box input {
    width: 387px;
    height: 40px;
    border: 1px solid #e5e5e5;
    background-color: #efefef;
    padding-left: 10px;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    resize: none;
}
.comment_box form button {
    float: right;
    color: #fff;
    background-color: #CC0000;
    height: 40px;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
}

/* ============== process-comm ============= */

.process-comm {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.process-comm img {
    float: none;
}
/* =============== right-sidebar ============= */

.right-sidebar {
    float: left;
    width: 100%;
}
.widget {
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
    -o-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
    box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
}
.widget-about {
    text-align: center;
}
.widget-about img {
    float: none;
    padding-top: 20px;
}
.widget-about h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}
.widget-about span {
    color: #686868;
    font-size: 14px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.sign_link {
    float: left;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 18px 0 15px 0;
}
.sign_link h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.sign_link h3 a {
    color: #000;
}
.sign_link > a {
    display: inline-block;
    color: #CC0000;
    font-size: 14px;
    font-weight: 500;
}
.sign_link > a:hover {
    color: #CC0000;
}

/* ============== Widget Jobs ============ */

.jobs-list {
    float: left;
    width: 100%;
    padding: 20px 20px;
}
.job-info {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.job-info:last-child {
    margin-bottom: 0;
}
.job-details {
    float: left;
    width: 170px;
}
.job-details h3 {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.job-details p {
    color: #686868;
    font-size: 14px;
    line-height: 20px;
}
.hr-rate {
    float: right;
    width: 40px;
}
.hr-rate span {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    float: right;
}

/*========= Round Button =========*/

.round-button {
    display:block;
    width:150px;
    height:150px;
    line-height:150px;
    border: 3px solid #CC0000;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #CC0000;
    box-shadow: 0 0 3px gray;
    font-size: 60pt;
    font-weight:bold;
}
.round-button:hover {
    background: transparent;
    border: 3px solid #f5f5f5;
}
.button-align{
    float: left;
    padding-left: 75px;
    padding-right: 75px;
    text-transform: uppercase;
    width: 420px;
    /*text-align: justify;*/
}
.content{
    padding-top: 15px;
    font-size: 18pt;
    /*text-align: center;*/
}
.content p{
    font-size: 10pt;
    color: #f5f5f5;
    line-height: unset;
    text-align: center;
}
.header{
    font-size: 25pt;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 80px;
}
.nav-icon a{
    font-size: 20pt;
    color: #f5f5f5;
}
.nav-item h5{
    text-align: center;
    color: #f5f5f5;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 8pt;
}
.modal-footer a{
    font-size: 16px;
}
.nav-link{
    color: #f5f5f5;
}
.nav-item.show, .nav-tabs .nav-link.active, nav-item:hover {
    color: #f5f5f5;
    background-color: #aa0000;
    border-color: #aa0000;
}
.nav-item, .nav-tabs .nav-link {
    padding: 10px;
    border-radius: 5px;
}
.social-nav-propic{
    padding-top: 10px;
    padding-left: 0;
}
.nav-tabs{
    border-radius: 5px;
}

/*======== Profile =======*/

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
    margin-top: unset;
}

.card.hovercard .cardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 130px;
    height: 130px;
    max-width: 130px;
    max-height: 140px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.navbar.navbar-dark form .md-form .form-control {
    color: #262626;
}

/*==== Profile ====*/

.modal-content{
    padding-bottom: 10px;
}
.table tr td input{
    border: unset;
    background-color: #ececec;
    width: 250px;
}
.my-custom-scrollbar {
    position: relative;
    max-height: 200px;
    overflow: auto;
}
.dropdown-wrapper-scroll-y {
    display: block;
}

.page-header-section {
    height: 445px;
    padding-top: 200px;
}

.page-header-section .header-title {
    font-size: 82px;
    color: #fff;
}

.page-header-section .header-title span {
    background: none;
    color: #baff00;
}

@media only screen and (max-width: 767px) {
    .page-header-section .header-title {
        font-size: 55px;
    }
}
.set-bg {
    background-size: cover;
    background-repeat: no-repeat;
}
.spad {
    padding: 100px 0;
}
.intro-text p {
    margin-bottom: 50px;
}
/*----------------------------------------*/
/*  Header CSS
/*----------------------------------------*/
.header-area {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 50;
}

.logo-area {
    float: left;
    display: inline-block;
    background: #CC0000;
    padding: 20px 40px 30px;
    /*max-width: 90px;*/
}

/*.logo-area img {*/
/*    max-width: 80px;*/
/*}*/

.phone-number {
    float: right;
    display: inline-block;
    padding: 5px 10px;
    background: #baff00;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-right: 50px;
}

.nav-switch {
    display: none;
}

.nav-menu {
    display: inline-block;
    float: right;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu ul li {
    display: inline;
}

.nav-menu ul li a {
    display: inline-block;
    padding: 40px 10px 5px;
    text-transform: uppercase;
    margin-right: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    position: relative;
}

.nav-menu ul li a:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 0;
    left: 50%;
    margin-left: 1px;
    top: 0;
    background: #baff00;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.nav-menu ul li a:hover:after {
    height: 25px;
}

.nav-menu ul li.active>a:after {
    height: 25px;
}

.user-picy img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.usy-dt img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.suggestion-usd img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.social-nav-propic img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.cmnt-img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.usr-pic img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 4px solid #ffffff;
}